{% extends 'core/base.html' %} {% block content %}
<div class="auth-page">
  <div class="auth-left">
    <h1>Welcome</h1>
    <p>Login to manage projects, assign tasks, and track your team progress.</p>
  </div>

  <div class="auth-card glass">
    <h2>Login</h2>
    <p class="muted">Enter your details to continue</p>

    <form method="POST">
      {% csrf_token %} {{ form.as_p }}

      <button type="submit" class="primary-btn full">Login</button>
    </form>

    <p class="auth-link">
      New here?
      <a href="{% url 'signup' %}">Create account</a>
    </p>
  </div>
</div>
{% endblock %}
