{% extends 'core/base.html' %} {% block content %}

<section class="project-detail-hero">
  <div>
    <span class="tag">Project Details</span>
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>

    <div class="detail-meta">
      <span>👑 Admin: <strong>{{ project.owner.username }}</strong></span>
      <span>📌 Status: <strong>{{ project.get_status_display }}</strong></span>
    </div>
  </div>

  {% if project.owner == user %}
  <div class="hero-actions">
    <a href="{% url 'project_update' project.id %}" class="white-btn"
      >Edit Project</a
    >
    <a href="{% url 'task_create' project.id %}" class="dark-btn">Add Task</a>
  </div>
  {% endif %}
</section>

<section class="content-card">
  <div class="section-heading">
    <div>
      <h2>Team Members</h2>
      <p>People assigned to this project</p>
    </div>
  </div>

  <div class="member-list">
    <div class="member-pill admin-pill">
      {{ project.owner.username }} <span>Admin</span>
    </div>

    {% for member in project.members.all %}
    <div class="member-pill">{{ member.username }} <span>Member</span></div>
    {% empty %}
    <p class="muted">No members added yet.</p>
    {% endfor %}
  </div>
</section>

<section class="content-card">
  <div class="section-heading">
    <div>
      <h2>Tasks</h2>
      <p>Track task status, priority, and deadlines</p>
    </div>
  </div>

  {% if tasks %}
  <div class="table-box">
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Assigned To</th>
          <th>Status</th>
          <th>Priority</th>
          <th>Due Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        {% for task in tasks %}
        <tr class="{% if task.is_overdue %}overdue-row{% endif %}">
          <td>
            <strong>{{ task.title }}</strong> {% if task.is_overdue %}
            <span class="overdue-label">Overdue</span> {% endif %}
          </td>

          <td>
            {% if task.assigned_to %} {{ task.assigned_to.username }} {% else %}
            Not assigned {% endif %}
          </td>

          <td>
            <span class="badge {{ task.status }}">
              {{ task.get_status_display }}
            </span>
          </td>

          <td>
            <span class="priority {{ task.priority }}">
              {{ task.get_priority_display }}
            </span>
          </td>

          <td>{{ task.due_date }}</td>

          <td>
            <a href="{% url 'task_update' task.id %}" class="primary-btn tiny"
              >Update</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="empty-box">
    <h3>No tasks yet</h3>
    <p>Add your first task for this project.</p>
  </div>
  {% endif %}
</section>

{% endblock %}
