{% extends 'core/base.html' %} {% block content %}
<div class="auth-page">
  <div class="auth-left">
    <h1>Create Your Workspace</h1>
    <p>Start managing your team tasks with role-based project access.</p>
  </div>

  <div class="auth-card glass">
    <h2>Sign Up</h2>
    <p class="muted">Create your account</p>

    <form method="POST">
      {% csrf_token %} {{ form.as_p }}

      <button type="submit" class="primary-btn full">Create Account</button>
    </form>

    <p class="auth-link">
      Already have an account?
      <a href="{% url 'login' %}">Login</a>
    </p>
  </div>
</div>
{% endblock %}
